<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
        <title>Ageu Eletro - Entrar</title>
        <meta name="robots" content="index, follow">
        <meta name="language" content="pt-br">
        <meta name="viewport" content="vidth:device-width, initial-scale=1">
        <meta name="description" content="Loja de eletro-eletrônicos, móveis, celular, eletrônicos, informática, antenas parabólicas, som automotivo, portáteis e colchoaria em Prado, Bahia">
        <link href="Aplicativo/Templates/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="Aplicativo/Templates/assets/css/animate.min.css" rel="stylesheet"/>
        <link href="Aplicativo/Templates/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>
        <link href="Aplicativo/Templates/assets/css/font-awesome.min.css" rel="stylesheet">
        <script src="Aplicativo/Templates/assets/js/Chart.bundle.min.js"></script>
        <script src="Aplicativo/Templates/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
        <script src="Aplicativo/Templates/assets/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="Aplicativo/Templates/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
	</head>		
    <body>
        <div class="embalagem">
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <h5 class="card-title">Entrar</h5>
                    <div class="container-fluid">
                        <div class="col-md-12">
                            {conteudo}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="copyright pull-right">
                        <a target="newwindow" href="http://www.ageueletro.com.br">Ageu Eletro</a>
                    </p>
                </div>
            </div>
        </div>

    </body>
    <script type="text/javascript" src="Aplicativo/Templates/assets/js/jquery-3.5.0.min.js"></script>
</html>