
    <!-- Bibliotecas de terceiros exigidas pelo Ageunet Framework -->
    <!-- <script src="lib/bootstrap/js/bootstrap.bundle.min.js?afver=701"></script>
    <script src="lib/bootstrap/js/bootstrap-plugins.min.js?afver=701" type="text/javascript"></script>
    <script src="lib/bootstrap/js/locales/bootstrap-datepicker.pt.js?afver=701" type="text/javascript"></script>
    <script src="lib/bootstrap/js/locales/bootstrap-datetimepicker.pt.js?afver=701" type="text/javascript"></script>
    <script src="lib/bootstrap/js/lang/summernote-pt-BR.min.js?afver=701" type="text/javascript"></script>
    <script src="lib/jquery/js/jquery-ui.min.js?afver=701" type="text/javascript"></script>
    <script src="lib/jquery/js/jquery-plugins.min.js?afver=701" type="text/javascript"></script>
    <script src="lib/jquery/js/select2_locale_pt.js?afver=701" type="text/javascript"></script> -->
    <script src="bib/independente/js/independent-plugins.min.js?afver=701" type="text/javascript"></script>
    <script src="bib/independente/js/fullcalendar-pt.js?afver=701" type="text/javascript"></script>

    <!-- Núcleo e componentes do Ageunet Framework-->
    <script src="bib/estrutura/inclusoes/ageunet.js" type="text/javascript"></script>
    <!-- Esses scripts tem como objetivo auxilar na eliminação do jQuery -->
    <script src="bib/vanilla/utilidades.js" type="text/javascript"></script>
    
    <!-- Javascript personalizados do aplicativo (Opcional) ?appver=701 -->
    <script src="aplicativo/lib/inclusoes/aplicativo.js" type="text/javascript"></script>
    
    <!-- CSS de terceiros exigidas pelo Ageunet Framework -->
    <link href="lib/bootstrap/css/bootstrap.min.css?afver=701" rel="stylesheet" type="text/css" media="screen" />
    <!-- <link href="lib/bootstrap/css/boostrap-plugins.min.css?afver=701" rel="stylesheet" type="text/css" media="screen" /> -->
    <link href="bib/independente/css/independent-plugins.min.css?afver=701" rel="stylesheet" type="text/css" media="screen" />
    
    <!-- Componentes CSS Ageunet Framework ?afver=701 ?afver=701 -->
    <link href="bib/estrutura/inclusoes/ageunet.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="bib/estrutura/inclusoes/componentes.min.css" rel="stylesheet" type="text/css" media="screen" />
    
    <!-- Application custom CSS -->
    <!-- CSS personalizado do aplicativo ?appver=701 -->
    <link href="aplicativo/templates/{template}/aplicativo.css" rel="stylesheet" type="text/css" media="screen">
    